<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>News</ion-title>
  </ion-toolbar>
  <ion-button color="light"[routerLink]="['/home']"expand="full">Home</ion-button>
</ion-header>



<ion-content fullscreen>
  <ion-card>
    <img src="assets/icon/Bundle.jpg" />
    <ion-card-header>
      <ion-card-subtitle>New Bundle</ion-card-subtitle>
      <ion-card-title>ChronoVoid</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Riot Games has dropped a teaser trailer for its new ChronoVoid skin bundle, featuring futuristic weapons inspired by an ancient technology that only a precious few wield.

      Any sufficiently advanced technology is indistinguishable from magic, Arthur C. Clarke wrote, and the ChronoVoid collection leans heavily into that idea.

      From floating spheres that defy gravity to finisher effects that appear to capture your opponent and transport them somewhere else entirely, the bundle feels like something from a different world.

      The goal was to create a sci-fi weapon with a unique experience, said Stefan Jevremovic, Art Lead, and they wanted to show something that was both “technologically advanced” and “luxurious.”
    </ion-card-content>
  </ion-card>
  
  <ion-card>
    <img src="assets/icon/pearl.png" />
    <ion-card-header>
      <ion-card-subtitle>Map Updates</ion-card-subtitle>
      <ion-card-title>Pearl</ion-card-title>
    </ion-card-header>
    <ion-card-content>
     Pearl is getting a handful of small updates that aim to reduce some complexity and make it easier to move through a few areas for both attackers and defenders.
    </ion-card-content>
  </ion-card>
</ion-content>
