#reyna {
  position: relative;
  left: 115px;
}
#jett {
  position: relative;
  left: 125px;
}
#pheonix {
  position: relative;
  left: 100px;
}
#raze {
  position: relative;
  left: 125px;
}
#kayo {
  position: relative;
  left: 115px;
}
#brimstone {
  position: relative;
  left: 90px;
}
#breach {
  position: relative;
  left: 105px;
}
#killjoy {
  position: relative;
  left: 115px;
}
#cypher {
  position: relative;
  left: 105px;
}
#astra {
  position: relative;
  left: 115px;
}
#chamber {
  position: relative;
  left: 100px;
}
#fade {
  position: relative;
  left: 120px;
}
#omen {
  position: relative;
  left: 115px;
}
#sage {
  position: relative;
  left: 120px;
}
#skye {
  position: relative;
  left: 120px;
}
#sova {
  position: relative;
  left: 120px;
}
#viper {
  position: relative;
  left: 115px;
}
#yoru {
  position: relative;
  left: 120px;
}