<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Agents</ion-title>
  </ion-toolbar>
</ion-header>
<ion-button color="light" [routerLink]="['/home']" expand="full">Home</ion-button>

<ion-content>
  <ion-list color="success">
    <ion-item>
      <ion-card color="danger">
        <div>
          <a href="agents/reyna">
        <img src="assets/icon/Reyna.jpeg" width="300" height="275" class="center">
      </a>
        <h1 id="reyna" style="color:black;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Reyna</h1>
      </div>
    </ion-card>
    </ion-item>
  </ion-list>
  <ion-list color="success">
    <ion-item>
      <ion-card color="danger">
        <div>
        <img src="assets/icon/Jett_artwork_full.jpeg" width="300" height="275" class="center">
        <h1 id="jett" style="color:black;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Jett</h1>
        <section>
        </section>
      </div>
    </ion-card>
    </ion-item>
  </ion-list>
  <ion-list color="success">
    <ion-item>
      <ion-card color="danger">
        <div>
          <a href="agents/pheonix">
        <img src="assets/icon/Phoenix_artwork_full.jpeg" width="300" height="275" class="center">
      </a>
        <h1 id="pheonix" style="color:black;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Phoenix</h1>
        <section>
        </section>
      </div>
    </ion-card>
    </ion-item>
  </ion-list>
  <ion-list color="success">
    <ion-item>
      <ion-card color="danger">
        <div>
        <img src="assets/icon/Raze_artwork_full.jpeg" width="300" height="275" class="center">
        <h1 id="raze" style="color:black;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Raze</h1>
        <section>
        </section>
      </div>
    </ion-card>
    </ion-item>
  </ion-list>
  <ion-list color="success">
    <ion-item>
      <ion-card color="danger">
        <div>
        <img src="assets/icon/Yoru_artwork_full.jpeg" width="300" height="275" class="center">
        <h1 id="yoru" style="color:black;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Yoru</h1>
        <section>
        </section>
      </div>
    </ion-card>
    </ion-item>
  </ion-list>
  <ion-list color="success">
    <ion-item>
      <ion-card color="danger">
        <div>
        <img src="assets/icon/Astra_artwork_full.jpeg" width="300" height="275" class="center">
        <h1 id="astra" style="color:black;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Astra</h1>
        <section>
        </section>
      </div>
    </ion-card>
    </ion-item>
  </ion-list>
  <ion-list color="success">
    <ion-item>
      <ion-card color="danger">
        <div>
        <img src="assets/icon/Breach_artwork_full.jpeg" width="300" height="275" class="center">
        <h1 id="breach" style="color:black;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Breach</h1>
        <section>
        </section>
      </div>
    </ion-card>
    </ion-item>
  </ion-list>
  <ion-list color="success">
    <ion-item>
      <ion-card color="danger">
        <div>
        <img src="assets/icon/Brimstone_artwork_full.jpeg" width="300" height="275" class="center">
        <h1 id="brimstone" style="color:black;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Brimstone</h1>
        <section>
        </section>
      </div>
    </ion-card>
    </ion-item>
  </ion-list>
  <ion-list color="success">
    <ion-item>
      <ion-card color="danger">
        <div>
        <img src="assets/icon/Chamber_artwork_full.jpeg" width="300" height="275" class="center">
        <h1 id="chamber" style="color:black;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Chamber</h1>
        <section>
        </section>
      </div>
    </ion-card>
    </ion-item>
  </ion-list>
  <ion-list color="success">
    <ion-item>
      <ion-card color="danger">
        <div>
        <img src="assets/icon/Cypher_artwork_full.jpeg" width="300" height="275" class="center">
        <h1 id="cypher" style="color:black;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Cypher</h1>
        <section>
        </section>
      </div>
    </ion-card>
    </ion-item>
  </ion-list>
  <ion-list color="success">
    <ion-item>
      <ion-card color="danger">
        <div>
        <img src="assets/icon/Fade_artwork_full.jpeg" width="300" height="275" class="center">
        <h1 id="fade" style="color:black;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Fade</h1>
        <section>
        </section>
      </div>
    </ion-card>
    </ion-item>
  </ion-list>
  <ion-list color="success">
    <ion-item>
      <ion-card color="danger">
        <div>
        <img src="assets/icon/KAYO_artwork_full.jpeg" width="300" height="275" class="center">
        <h1 id="kayo" style="color:black;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">KAY/O</h1>
        <section>
        </section>
      </div>
    </ion-card>
    </ion-item>
  </ion-list>
  <ion-list color="success">
    <ion-item>
      <ion-card color="danger">
        <div>
        <img src="assets/icon/Killjoy_artwork_full.jpeg" width="300" height="275" class="center">
        <h1 id="killjoy" style="color:black;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Killjoy</h1>
        <section>
        </section>
      </div>
    </ion-card>
    </ion-item>
  </ion-list>
  <ion-list color="success">
    <ion-item>
      <ion-card color="danger">
        <div>
        <img src="assets/icon/Omen_artwork_full.jpeg" width="300" height="275" class="center">
        <h1 id="omen" style="color:black;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Omen</h1>
        <section>
        </section>
      </div>
    </ion-card>
    </ion-item>
  </ion-list>
  <ion-list color="success">
    <ion-item>
      <ion-card color="danger">
        <div>
        <img src="assets/icon/Sage_artwork_full.jpeg" width="300" height="275" class="center">
        <h1 id="sage" style="color:black;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Sage</h1>
        <section>
        </section>
      </div>
    </ion-card>
    </ion-item>
  </ion-list>
  <ion-list color="success">
    <ion-item>
      <ion-card color="danger">
        <div>
        <img src="assets/icon/Skye_artwork_full.jpeg" width="300" height="275" class="center">
        <h1 id="skye" style="color:black;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Skye</h1>
        <section>
        </section>
      </div>
    </ion-card>
    </ion-item>
  </ion-list>
  <ion-list color="success">
    <ion-item>
      <ion-card color="danger">
        <div>
        <img src="assets/icon/Sova_artwork_full.jpeg" width="300" height="275" class="center">
        <h1 id="sova" style="color:black;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Sova</h1>
        <section>
        </section>
      </div>
    </ion-card>
    </ion-item>
  </ion-list>
  <ion-list color="success">
    <ion-item>
      <ion-card color="danger">
        <div>
        <img src="assets/icon/Viper_artwork_full.jpeg" width="300" height="275" class="center">
        <h1 id="viper" style="color:black;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Viper</h1>
        <section>
        </section>
      </div>
    </ion-card>
    </ion-item>
  </ion-list>


</ion-content>
