<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Maps</ion-title>
  </ion-toolbar>
  <ion-button color="light" [routerLink]="['/home']" expand="full">Home</ion-button>
</ion-header>

<ion-content>
  <ion-card>
    <img src="assets/icon/pearl.png" />
    <ion-card-header>
      <ion-card-subtitle>Map</ion-card-subtitle>
      <ion-card-title>Pearl</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Auf dieser Karte mit zwei Arealen in einer lebendigen Unterwasserstadt machen Angreifer Druck auf die Verteidiger. Pearl ist eine mit der Umgebung spielende Karte ohne Mechaniken. Nimm auf unserer ersten Karte der Omega-Erde den Kampf durch eine kompakte Mitte oder die weitreichenden Flanken auf.
    </ion-card-content>
  </ion-card>
  <ion-card>
    <img src="assets/icon/Fracture.png" />
    <ion-card-header>
      <ion-card-subtitle>Map</ion-card-subtitle>
      <ion-card-title>Fracture</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Eine geheime Forschungseinrichtung, die durch ein fehlgeschlagenes Radianit-Experiment zweigeteilt wurde. Als Verteidiger habt ihr damit die Wahl: Trefft die Angreifer auf ihrem eigenen Boden oder macht die Schotten dicht, um den Angriff zu überstehen.
    </ion-card-content>
  </ion-card>
  <ion-card>
    <img src="assets/icon/breeze.png" />
    <ion-card-header>
      <ion-card-subtitle>Map</ion-card-subtitle>
      <ion-card-title>Breeze</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Genieße den Ausblick über historische Ruinen und Höhlen in den Klippen dieses tropischen Paradieses. Aber bring Deckung mit. Die brauchst du für die offenen Bereiche und für Schüsse aus großer Distanz. Achte auf deine Flanke und du wirst dich fühlen wie beim Strandurlaub
    </ion-card-content>
  </ion-card>
  <ion-card>
    <img src="assets/icon/Icebox.png" />
    <ion-card-header>
      <ion-card-subtitle>Map</ion-card-subtitle>
      <ion-card-title>Icebox</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Genieße den Ausblick über historische Ruinen und Höhlen in den Klippen dieses tropischen Paradieses. Aber bring Deckung mit. Die brauchst du für die offenen Bereiche und für Schüsse aus großer Distanz. Achte auf deine Flanke und du wirst dich fühlen wie beim Strandurlaub
    </ion-card-content>
  </ion-card>
  <ion-card>
    <img src="assets/icon/Bind.png" />
    <ion-card-header>
      <ion-card-subtitle>Map</ion-card-subtitle>
      <ion-card-title>Bind</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Zwei Areale. Keine Mitte. Ihr müsst euch für links oder rechts entscheiden. Welches Areal darf’s denn sein? Beide Seiten bieten Angreifern direkte Wege und zwei Teleporter (nur in eine Richtung), über die man gut flankieren kann.
    </ion-card-content>
  </ion-card>
  <ion-card>
    <img src="assets/icon/Haven.png" />
    <ion-card-header>
      <ion-card-subtitle>Map</ion-card-subtitle>
      <ion-card-title>Haven</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Unterhalb eines vergessenen Klosters kommt es zwischen rivalisierenden Agenten zu Auseinandersetzungen, in denen es um die Kontrolle dreier Areale geht. Man muss zwar mehr Bereiche im Auge behalten, aber Verteidiger können die zusätzliche Fläche für aggressives Vorrücken nutzen.
    </ion-card-content>
  </ion-card>
  <ion-card>
    <img src="assets/icon/Ascent.png" />
    <ion-card-header>
      <ion-card-subtitle>Map</ion-card-subtitle>
      <ion-card-title>Ascent</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Zwischen den zwei Arealen auf Ascent liegt ein offener Spielplatz für kleine Positions- und Zermürbungskämpfe. Beide Areale lassen sich durch tonnenschwere Bombenschutztüren sichern. Sobald sie zu sind, müsst ihr sie zerstören oder einen anderen Weg finden. Gebt so wenige Bereiche auf wie möglich.
    </ion-card-content>
  </ion-card>
</ion-content>
