<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Reyna</ion-title>
  </ion-toolbar>
  <ion-button color="light" [routerLink]="['/home']" expand="full">Home</ion-button>
</ion-header>


<ion-content fullscreen>
  <ion-card>
    <img src="assets/icon/Reyna_icon.jpeg" />
    <ion-card-header>
      <ion-card-subtitle>Duelist</ion-card-subtitle>
      <ion-card-title>Reyna</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Biografie<br>
Reyna kommt aus dem Herzen Mexikos, brilliert in Kämpfen gegen einzelne Gegner und wird mit jedem Kill stärker. Ihr Können ist das einzige Limit für ihr Potenzial und sie hängt sehr von der erbrachten Leistung ab.<br>
<br>Spezialfähigkeiten <br>
Q – Verzehren <br>
Von Reyna getötete Gegner hinterlassen Seelenkugeln, die drei Sekunden bestehen bleiben. Verzehre SOFORT eine nahe Seelenkugel, was für kurze Zeit schnell heilt. Steigt die durch diese Fähigkeit erhaltene Gesundheit über 100, verfällt diese langsam. Wenn KAISERIN aktiv ist, wird diese Fähigkeit automatisch eingesetzt und verbraucht die Seelenkugel nicht.<br>
E – Eliminieren <br>
Verzehrt SOFORT eine nahe Seelenkugel und verleiht für kurze Zeit Unberührbarkeit. Wenn KAISERIN aktiv ist, wird Reyna zudem unsichtbar.<br>
C – Starren <br>
RÜSTE ein ätherisches, zerstörbares Auge aus. AKTIVIERE, um das Auge eine kurze Strecke nach vorne zu werfen. Das Auge schränkt die Sicht von Gegnern ein, die es ansehen.<br>
X – Kaiserin <br>
Verleiht SOFORT einen Kampfrausch, was Feuer- sowie Ausrüstungs- und Nachladegeschwindigkeit stark erhöht. Ein Kill setzt die Dauer zurück.

    </ion-card-content>
  </ion-card>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="light">
        <ion-icon name="add">
        </ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
